.Board {
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: center;
  gap: 2.5rem;
  margin: 2rem;
}

.Board > h1 {
  font-size: 3rem;
}
.Board > p {
  font-size: 1.5rem;
}
.BoardGame {
  width: max-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
  grid-gap: 0.825rem;
  background-color: black;
  margin: 1.5rem 0rem;
  border-radius: 0.5rem;
}

.position {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 6rem;
  font-weight: bold;
  background-color: white;
}

.Edit {
  cursor: pointer;
}

.Disabled {
  /* pointer-events: none;
  cursor: not-allowed; */
}

.Button {
  box-sizing: border-box;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 3px 3px black;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.Button:active {
  box-shadow: none;
}
